[submodule "ref/The-MSX-Red-Book"]
	path = ref/The-MSX-Red-Book
	url = https://github.com/gseidler/The-MSX-Red-Book.git
[submodule "ref/MSX2-Technical-Handbook"]
	path = ref/MSX2-Technical-Handbook
	url = https://github.com/Konamiman/MSX2-Technical-Handbook.git
[submodule "libext/ZX0"]
	path = libext/ZX0
	url = https://github.com/einar-saukas/ZX0.git
[submodule "libext/ZX1"]
	path = libext/ZX1
	url = https://github.com/einar-saukas/ZX1.git
